<!-- accounts/login.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>로그인</h2>
    <form method="POST">
        {% csrf_token %}
        
        <div class="mb-3">
            <label>회원 유형</label>
            {{ form.user_type }}
        </div>

        <div class="mb-3">
            <label>사용자 이름</label>
            {{ form.username }}
        </div>

        <div class="mb-3">
            <label>비밀번호</label>
            {{ form.password }}
        </div>

        <button type="submit" class="btn btn-primary">로그인</button>
    </form>
</div>
{% endblock %}
