<!-- products/popular_products.html -->
{% extends 'base.html' %}

{% block content %}
    <h1>인기 제품</h1>

    {% if popular_products %}
        <ul>
            {% for product in popular_products %}
                <li>
                    <h2>{{ product.name }}</h2>
                    <p>{{ product.description }}</p>
                    <p>가격: {{ product.price }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>{{ no_data_message }}</p>
    {% endif %}
{% endblock %}
